.diff-box {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  background: #f9f9f9;
  padding: 10px;
}

/* Removed text (Only in Expected Response) */
.removed {
  background-color: rgba(255, 0, 0, 0.3); /* Light red */
  text-decoration: line-through;
  color: #a00; /* Darker red text */
}

/* Added text (Only in Actual Response) */
.added {
  background-color: rgba(255, 255, 0, 0.5); /* Light yellow */
  color: #000;
  padding: 2px 4px;
}

/* Changed text (Present in both Expected & Actual) */
.changed {
  background-color: rgba(0, 255, 0, 0.3); /* Light green */
  color: #000;
  padding: 2px 4px;
  font-weight: bold;
}